<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba0ac">  <td>20/12/12 18:15:49</td>   <td>0</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>20/12/12 18:15:51</td>   <td>1773</td> <td>&nbsp;</td><td title="&gt;&gt;TC_ServiceConsole.setData()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/12 18:15:51</td>   <td>1787</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/12 18:15:51</td>   <td>1807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>20/12/12 18:16:03</td>   <td>14271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ServiceConsole.login()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">login</td> 
  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/12 18:17:12</td>   <td>83061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/12 18:17:12</td>   <td>83096</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
</table>
