<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba0ac">  <td>20/12/13 10:22:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/13 10:22:21</td>   <td>79</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/13 10:20:46</td>   <td>-95587</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeClass()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/13 10:20:46</td>   <td>-95569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.beforeMethod()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>20/12/13 10:20:44</td>   <td>-96830</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>20/12/13 10:21:00</td>   <td>-81233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ServiceConsole.login()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">login</td> 
  <td>main@706197430</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>20/12/13 10:20:46</td>   <td>-95597</td> <td>&nbsp;</td><td title="&gt;&gt;TC_ServiceConsole.setData()[pri:0, instance:testcases.TC_ServiceConsole@5a8e6209]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@706197430</td>   <td></td> </tr>
</table>
